.letters { 
  width: 100%;
  max-width: 370px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;

  .letter {
    box-sizing: border-box;
    background-color: #ffffffda;
    color: black;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    margin: 2px;
  }

  .disable_letter {
    background-color: #ffffff3d;

  }
}