.header {
  position: absolute;
  // background-color: #ffffff55; 
  width: 100vw;
  left: 0;
  top: 0;

  .menu {
    text-decoration: none;
    padding: 0 6px;
    color: white;
    border-bottom: solid 1px white;

    // width: 100%;
  }
}