.menu {
  font-family: 'Raleway';
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background: url('https://images.hdqwalls.com/download/mountains-clouds-illustration-minimalism-eo-2048x1152.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .title {
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 60px;
    font-weight: 400;

  }

  .navigate {
    display: flex;
    flex-direction: column;

    .link {
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      border: none;
      border-bottom: solid 1px white;
      padding: 4px 16px;
      
      font-size: 25px;
    }
  }

}